*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
span{
    font-style: italic;

}

@media (max-width:500px) {
    .container{
        width: 100% !important;
        padding: 10px !important;
    }
    .objetivos{
        width: 100% !important;
        text-align: center !important;
    }
}

